/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  

  /* Add more global styles as needed */
}

/* Define custom classes for different font-families */
.primary-font {
  font-family: 'Droid Serif', sans-serif;
}

.secondary-font {
  font-family: 'Inter', sans-serif;
}

